<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="{% url 'Flipcard' %}" method="post">
        {% csrf_token %}
    <table>
        <tr>
            <td>Home</td>
            <td>Amount pay</td>
            <td><a href="">all user pay</a></td>
            <td><a href="{% url 'Flipcard' %}">Pay on Flipcard</a> </td>
            <td>Pay on Tour </td>
        </tr>
        <tr></tr>
    </table>
    <input type="text" placeholder="Enter amount", name="am">
    <button type="submit" value="">Pay Amount</button>
</form>
</body>
</html>